<h1> Company Input Form </h1>

<form action="companyInputToMongo">

Name: <input type="text" name="name"><br>
<br>

Info (brief description):  <input type="text" name="info"><br>
<br>

Founders:
  name: <input type="text" name="cofounders.name"><br>
  linkedin url: <input type="text" name="cofounders.linkedinurl"><br>
  <button> Add Another Cofounder</button>
<br>

Date founded: <input type="text" name="founded"><br>
<br>

Industries: <input type="text" name="industry"><br>
<br>

Company email: <input type="text" name="email"><br>
<button> Add Another Email</button>
<br>

Company website: <input type="text" name="website"><br>
<br>

Image URL for company logo: <input type="text" name="image"><br>
<br>

Company schedule link (ex: http://www.meetme.so/COMPANYNAME): <input type="text" name="meetmelink"><br>
<br>

<input type="submit" value="Submit">
</form>

// <p>Click the "Submit" button and the form-data will be sent to a page on the server called "companyInputToMongo".</p>