<div ng-include="'partials/navbar'"></div>

<div class="col-lg-3 col-md-3 col-sm-3 col-xs-10 pull-lg-right">
  <img class="img-responsive" src="{{companyfull.image}}" alt="">
</div>


<div class = "col-lg-9 col-md-9 col-sm-9 col-xs-12">
<h1> <a href='/'><i class="fa fa-reply fa-lg"></i></a>  {{companyfull.name}} </h1>
<p> {{companyfull.info}} </p>
<!-- <h3> Company Info </h3> -->
<p> <div class = "bold"> Co-founders:</div>
  <div ng-repeat='founder in companyfull.cofounders'>
    <a href="{{founder.linkedinurl}}" target= "_blank">{{founder.name}}</a>
  </div>
</p>
<p> <div class = "bold"> Founded: </div> {{companyfull.founded}} </p>
<p> <div class = "bold"> Industry: </div> {{companyfull.industry}} </p>
<p class="bold">Contact</p>
<p>
  <a href="{{companyfull.website}}" target="_blank"><i class="fa fa-home fa-3x"></i></a>
  <a href="{{companyfull.twitter}}" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
  <a href="{{companyfull.facebook}}" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
  <a href=""><i class="fa fa-calendar fa-3x" ng-click="openConfirm()"></i></a>
  <a href="mailto:{{companyfull.email}}"><i class="fa fa-envelope fa-3x"></i></a>
  <a href=""><i class="fa fa-share-alt fa-3x" ng-click="open()"></i></a>
</p>
   <!-- <a href=""><i class="fa fa-calendar fa-4x" ng-click="openConfirm()"></i></a>
   <a href="mailto:{{companyfull.email}}"><i class="fa fa-envelope-square fa-4x" id="engageButton"></i></a>
   <a href=""><i class="fa fa-share-alt-square fa-4x" ng-click="open()" id="engageButton"></i></a> -->
<!-- <p> <div class = "bold"> Email: </div> <a href="mailto:{{companyfull.email}}">{{companyfull.email}} </a> </p> -->
</div>

<!-- <h3> Engage </h3> -->

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Share</h3>
        </div>
        <div class="modal-body">
            <div addthis-toolbox data-url='{{companyfull.website}}'
                   class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_twitter"><i class="fa fa-twitter-square"></i></a>
                <a class="addthis_button_linkedin"><i class="fa fa-linkedin-square"></i></a>
                <a class="addthis_button_facebook"><i class="fa fa-facebook-square"></i></a>
                <a class="addthis_button_google_plusone_share"><i class="fa fa-google-plus-square"></i></a>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Close</button>
        </div>
    </script>

    <script type="text/ng-template" id="confirmModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Alert</h3>
        </div>
        <div class="modal-body">
            <p> By pressing confirm, you will be redirected to another window to schedule your appointment. Please remember to close that window to continue using this app. </p>
        </div>
        <div class="modal-footer">
          <a href="{{companyfull.meetmelink}}" target="_blank">
            <button class="btn btn-primary"> Confirm </button>
          </a>
            <button class="btn btn-primary" ng-click="ok()">Cancel</button>
        </div>
    </script>

<p id="engageButtonBox">

<!--   <a href="{{companyfull.meetmelink}}" target="_blank" ><i class="fa fa-calendar fa-4x" id="engageButton"></i></a>
 -->
  <!-- <a href=""><i class="fa fa-calendar fa-4x" ng-click="openConfirm()"></i></a>
  <a href="mailto:{{companyfull.email}}"><i class="fa fa-envelope-square fa-4x" id="engageButton"></i></a>
  <a href=""><i class="fa fa-share-alt-square fa-4x" ng-click="open()" id="engageButton"></i></a> -->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<!-- <div class="addthis_sharing_toolbox"></div> -->
</p>
