<div ng-include="'partials/navbar'"></div>

<a href='/'><i class="fa fa-reply fa-lg"></i> Back to Companies</a>

<p><img src="{{companyfull.image}}" alt=""></p>
<h1> {{companyfull.name}} </h1>
<p> {{companyfull.info}} </p>

<h3> Company Info </h3>
<p> <div class = "bold"> Co-founders:</div> {{companyfull.cofounders}}</p>
<p> <div class = "bold"> Founded: </div> {{companyfull.founded}} </p>
<p> <div class = "bold"> Industry: </div> {{companyfull.industry}} </p>
<p> <div class = "bold"> Email: </div> {{companyfull.email}} </p>
<p> <div class = "bold"> Website: </div> <a href="{{companyfull.website}}">{{companyfull.website}}</a> </p>


<h3> Engage </h3>
<p>
  <i class="fa fa-calendar fa-4x"></i> Appointment
  <a href="mailto:{{companyfull.email}}"><i class="fa fa-envelope-square fa-4x"></i></a> Email

  <i class="fa fa-share-alt-square fa-4x" ng-click="isCollapsed = !isCollapsed"></i> Share
          <div collapse="!isCollapsed">
            <div class="well well-lg">
              <div addthis-toolbox data-url="{{companyfull.website}}"
                    class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_linkedin"></a>
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_google_plusone_share"></a>

              </div>
          </div>

<!--   <i class="fa fa-share-alt-square fa-4x" ng-click="isCollapsed = !isCollapsed"></i>
          <hr>
          <div collapse="isCollapsed">
            <div class="well well-lg"><div class="addthis_sharing_toolbox"></div></div>
          </div> -->
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53a9dad720b656c3"></script>
 -->

</p>
