<div ng-include="'partials/navbar'"></div>

<div ng-hide="currentUser" class="center">
  <div ng-controller="LoginCtrl">

    <accordion close-others="oneAtATime">

      <accordion-group is-open="status.isFirstOpen" ng-click="toggleLoginSignUp()">
        <accordion-heading>
          <a ng-click="toggleLoginSignUp()" class="accordionHeading" >Login with Linkedin</a>
        </accordion-heading>
        <div class='col-lg-12'>
           <a ng-href="/auth/linkedin" target='_self'><i class="fa fa-linkedin-square"></i></a>
        </div>
      </accordion-group>

      <accordion-group>
        <accordion-heading>
          <a ng-click="toggleLoginSignUp()" class="accordionHeading" >Login with e-mail</a>
        </accordion-heading>
        <div ng-include="'partials/login.html'" scope="" onload=""></div>
      </accordion-group>


      <accordion-group>
        <accordion-heading>
          <a ng-click="toggleLoginSignUp()" class="accordionHeading" >Sign up with e-mail</a>
        </accordion-heading>
        <div ng-include="'partials/signup.html'" scope="" onload=""></div>
      </accordion-group>

    </accordion>

  </div>
</div>


<div class='col-lg-12' ng-show="currentUser">
  <h2> DreamIt Ventures Demo Day </h2>
    <div class="row marketing navbarTitle">
        <div ng-repeat="company in companies" id="companyBoxes">
            <a id="link" href="/companypage/{{company.name}}">
              <!-- <span class="link-spanner"></span>
              <img src="{{company.image}}" alt="" id="companyImages">
              <h4><a ng-href="/companypage/{{company.name}}">{{company.name}}</a></h4>
              <p>{{company.industry}}</p>
              <div class="clearfix"></div> -->
              <div class='row'>
                <!-- <div class="col-xs-6 col-xs-offset-3"><h2 id="disappearedInfo">{{company.name}}</h2> </div> -->
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                <img class="img-responsive" src="{{company.image}}">
              </div>
              <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
                <h2 id="disappearingInfo">{{company.name}}</h2>
                <div ng-repeat='cofounder in company.cofounders'>
                <h4 style="margin: 5px 0 0px 0;">{{cofounder.name}}</h4>
                </div>
                <p style="margin-bottom: 40px;" id="disappearingInfo">{{company.info}}</p>
              </div>
              </div>
              </a>

        </div>
    </div>
</div>









<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div> -->


